html, body {
    min-height: 100vh;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #FBB03B;
    font-family: 'Varela Round';
}

main {
    flex: 1 0 auto;
}

/*navbar styles */
.navbar {
    background-color: #29ABE2;
    outline-style: auto;
    outline-color: #05445f;
}

.nav-link {
    color: #FFF;
}

.navbar-toggler {
    padding: 0.5% 0.5%;
    text-shadow: 1px 1px 1px #000;
    color: #FFF;
    border-width: 0px;
}

.navbar-toggler-icon {
    background-image: url('/Images/tm_hamburger_menu.png');
    box-shadow: #000;
}

.btn-success {
    color: #FFF;
    background-color: #29ABE2;
    border-color: #FFF;
}

/* Footer style */
footer {
    font-size: small;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
    background-color: #29ABE2;
    color: #FFF;
    outline-style: auto;
    outline-color: #05445f;
}

/* Content styles */
.card {
    justify-content: space-around;
    background-color: #29ABE2;
    border-width: 2px;
    border-color: #FFF;
    color: #FFF;
    align-items: center;
    aspect-ratio: calc(2/3);
}

.card-img-top {
    width: 90%;
    height: 60%;
    object-fit: cover;
    border-color: #DC9F01;
    border-width: 4px;
    border-radius: 3%;
}

section p {
    align-items: center;
    justify-content: space-between;
}

.outer-border {
    background-color: #000;
    padding: 4px;
    color: #000;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #614601;
}

/* Body styles */

section {
    display: flow;
    margin: 10px;
}

section h1 {
    text-align: center;
    color: #ff9d00;
}

section h3 {
    text-align: center;
    text-shadow: 1px 1px 1px #05445f;

}

article {
    background-color: #29ABE2;
    padding: 1em;
    border-radius: 7px;
    border: 2px solid #FFF;
    color: #FFF;
    display: flow-root;
}


.article-image-lt {
    max-width: 120px;
    border: 0.1em solid #000;
    border-radius: 8px;
    float: left;
    margin-right: 2em;
}

.article-image-rt {
    max-width: 30%;
    border: 1px solid #000;
    border-radius: 8px;
    float: right;
}

.app-store-link {
    /* margin: 0.9em; */
    min-width: 120px;
    min-height: 40px;
}
article a {
    text-shadow: 1px 1px 0.1px #000000;
}
.centered {
    text-align: center;
}

body, .text-outline-black {
    text-shadow:
        -0.05em  0      0.05em #000,
         0.05em  0      0.05em #000,
         0.05em  0.05em 0.05em #000,
        -0.05em -0.05em 0.05em #000,
         0.05em -0.05em 0.05em #000,
        -0.05em  0.05em 0.05em #000,
         0       0.05em 0.05em #000,
         0      -0.05em 0.05em #000,
         0       0      0.05em #000;
}

.text-outline-white {
    text-shadow:
        -0.05em  0      0.05em #FFF,
         0.05em  0      0.05em #FFF,
         0.05em  0.05em 0.05em #FFF,
        -0.05em -0.05em 0.05em #FFF,
         0.05em -0.05em 0.05em #FFF,
        -0.05em  0.05em 0.05em #FFF,
         0       0.05em 0.05em #FFF,
         0      -0.05em 0.05em #FFF,
         0       0      0.05em #FFF;
}

input {
    margin-bottom: 10px;
    margin-right: 1vw;
}

.send-button {
    width: 80px;
    height: 39px;
    color: #FFF;
    background-color: #ff9d00;
    text-shadow: 1px 1px 2px #bd5b00;
    border-radius: 10px;
    border-width: 2px;
    border-color: #05445f;
}

.require-indicator {
    padding: 0px;
    text-decoration-line: none;
    color: red;
    font-size: large;
}

.tms-email {
    padding: 10px;
    color: #FFF;
    font-size: large;
    text-shadow:
        -1px 0 0.5px #614601,
        1px 0 0.5px #614601,
        1px 1px 0.5px #614601,
        -1px -1px 0.5px #614601,
        1px -1px 0.5px #614601,
        -1px 1px 0.5px #614601,
        0 1px 0.5px #614601,
        0 -1px 0.5px #614601;
}

/* ACCESSABILITY REQUIRED */
.skip-to-main-content-link {
    position: absolute;
    left: -9999px;
    z-index: 999;
    padding: 1em;
    background-color: #FFF;
    color: #05445f;
    text-shadow: none;
    opacity: 0;
}

.skip-to-main-content-link:focus {
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
}