body {
    background-color: #FBB03B;
    font-family: 'Varela Round';
    text-shadow: 1px 1px 0.1px #05445f;
}

/*toggle button styles */
.navbar {
    background-color: #29ABE2;
    outline-style: auto;
    outline-color: #05445f;
}

.nav-link {
    color: #FFF;
}

.navbar-toggler {
    padding: 0.5% 0.5%;
    text-shadow: 1px 1px 1px #000;
    color: #FFF;
    border-width: 0px;
}

.navbar-toggler-icon {
    background-image: url('/Images/tm_hamburger_menu.png');
    box-shadow: #000;
}

.btn-success {
    color: #FFF;
    background-color: #29ABE2;
    border-color: #FFF;
}

/* Footer style */
footer {
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
    background-color: #29ABE2;
    color: #FFF;
    outline-style: auto;
    outline-color: #05445f;
}

.card {
    align-items: center;
    justify-content: space-around;
    background-color: #29ABE2;
    border-width: 2px;
    border-color: #FFF;
    color: #FFF;
}

.row .card {
    aspect-ratio: calc(2/3);
}
.card-img-top {
    width: 90%;
    height: 60%;
    object-fit: cover;
    border-color: #DC9F01;
    border-width: 4px;
    border-radius: 3%;
}

section p {
    align-items: center;
    justify-content: space-between;

}

section .card {
    align-items: normal;
    padding:10px;
    justify-content: space-between;
}

.outer-border {
    width: 95%;
    background-color: #000;
    padding: 4px;
    color: #000;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #614601;
}

/* Body styles */

section {
    margin: 10px; 
}

section h1 {
    text-align: center;
    color: #ff9d00; 
}

section h3 {
    text-align: center;
    text-shadow: 1px 1px 1px #05445f;

}
.centered {
    text-align: center;
}

.text-outline-black {
    text-shadow:
        -1px  0   1px #000,
         1px  0   1px #000,
         1px  1px 1px #000,
        -1px -1px 1px #000,
         1px -1px 1px #000,
        -1px  1px 1px #000,
         0    1px 1px #000,
         0   -1px 1px #000,
         1px 1px 2px #05445f;
}

.text-outline-white {
    text-shadow:
        -1px  0   1px #FFF,
         1px  0   1px #FFF,
         1px  1px 1px #FFF,
        -1px -1px 1px #FFF,
         1px -1px 1px #FFF,
        -1px  1px 1px #FFF,
         0    1px 1px #FFF,
         0   -1px 1px #FFF,
         1px 1px 3px #05445f;
}

/* Accordian style */
details summary {
    display: flex;
    justify-content: space-between;
    font-size: large;
    margin: 0% 5% 0% 3%;
}

summary::-webkit-details-marker { 
    display: none 
}

details summary span[aria-hidden="true"]::before {
    font-size: large;
    content: "+";
    color: #DC9F01;
    justify-content: space-between;
}

details[open] summary span[aria-hidden="true"]::before {
    content: "–";
    justify-content: space-between;
}

input {
    margin-bottom: 10px;
}

.social-media-icon {
    width:70px;
    height:70px;
    background-color: #FFF;
    padding:10px;
    margin:20px;
    border-radius: 20%;
}

.send-button {
    width:80px;
    height:39px;
    color:#FFF;
    background-color: #ff9d00;
    text-shadow: 1px 1px 2px #000;
    border-radius: 10px;
    border-width: 2px;
    border-color:#05445f;
}

.require-indicator {
    text-decoration-line: none;
    color: red;
    font-size: large;
}
.tms-email {
    padding: 10px;
    color: #FFF;
    font-size: large;
    text-shadow:
    -1px  0   0.5px #614601,
     1px  0   0.5px #614601,
     1px  1px 0.5px #614601,
    -1px -1px 0.5px #614601,
     1px -1px 0.5px #614601,
    -1px  1px 0.5px #614601,
     0    1px 0.5px #614601,
     0   -1px 0.5px #614601;
}