body{
    background-color: #FBB03B;
}

nav img {
    width:65px;
}

nav {
    background-color: #29ABE2;
}

.nav-link { 
    color: #FFF;
}
/* navbar toggle button style */
.navbar-toggler {
    background-color: #FFF;
}

.btn-success {
    color:#FFF;
    background-color:#29ABE2;
    border-color: #FFF
}

footer {
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
    background-color: #29ABE2;
    color: #FFF;
}