@charset "UTF-8";

body {
    background-color: #FBB03B;
    background-size: auto auto;
    background-clip: padding-box;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

footer {
    font-size: x-small;
    text-align: center;
    background-color: #29ABE2;
    height: 30px;
    padding: 20px;
    position:static;
}
